.venv
venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.cache/
build/
dist/
*.egg-info/
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/
.venv/
.env
.env.*
.DS_Store
.vscode/
.idea/
.git
*.db
*.sqlite3
/.venv
/.pytest_cache